@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

/*
=========
Variables
=========
*/
:root{
--primaryColor:#b17979;
--mainBlack: #081B29;
--greyBlack: #333;
--mainTransition: all 0.3s ease out;
--mainSpacing: 0.4rem;
}

/*
=============
Global Styles
=============
*/



*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color:white;
    background-color: var(--mainBlack);
    line-height: 1.5;

  
}

/*
============
Nav Header
===========
*/

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);

    

    position: fixed;
    top: 0;
     left: 0;
     right: 0;
     width: 100%;
     z-index: 100;
     

     background-color: rgb(236, 204, 204);
     border-bottom-width:0.1rem ;
     border-bottom-style: solid;
     border-bottom-color: rgb(228, 228, 228);
   
}

.text-logo {
    font-family: 'Poppins', serif;
    color: var(--greyBlack);
    font-size: 2.8rem;
    letter-spacing: 0.2rem;
}

.nav-bar {
    display: flex;
}

.nav-toggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.nav-toggle i {
    font-size: 2.4rem;
    color:var(--greyBlack) ;
     
}

.nav-toggle:hover i {
    color: var(--primaryColor);
    transform: scale(1.2);
}

a {
    text-decoration: none;
}

.links, .social-media-icons {
    list-style: none;
}

.links li a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--greyBlack);
    transition: color 0.3s ease;
}

.links li a:hover {
    color: var(--primaryColor);
    text-decoration: underline;
}

.social-media-icons {
   display: none;
   font-size: 2rem;
    padding: 0.5rem 1rem;
    color: var(--greyBlack);
    transition: color 0.3s ease;
}
.social-media-icons:hover {
     color: var(--primaryColor);
}

    

@media (max-width: 76.7rem) {
    .links, .social-media-icons {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
    
}
.display-links{
    height: auto; 
}

.social-media-icons {
    display: block;
}

.nav-toggle {
    margin-right:2rem ;
    padding: auto;
}
}

@media (min-width: 76.8rem)  {
    .social-media-icons {
        display: flex;
        justify-content: space-between; 
        margin-left: auto; 
        margin-right: 0.7rem;  
        font-size: 2rem;  

    }

    .links{
        margin-left: auto;
    }

    .links, .social-media-icons {
        height: auto;
        display: flex;
        gap: 4.5rem;
    }

    .nav-toggle {
        display: none;
    }
}


/*
===========
Body
==========
*/
.hero {
  padding: 8rem 0;
}

.hero .text-img {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}
.img-info {
    flex-basis: 35%;
}

.img-info img {
    width: 100%;
    border-radius: 1rem;
    
}

.text-button {
    flex-basis: 60%;
    margin-left: 3rem;
    padding: 2rem;
    
}
.hero h1 {
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

.hero h1 .highlight {
    color: rgb(236, 204, 204);
}
.hero h2 {
    font-size: 2rem;
    color:  rgb(236, 204, 204);
}

.hero p {
  line-height: 1.6; 
}

.button-container button {
    padding: 0.8rem 1.6rem;
    border: none;
    border: 0.1rem solid var(--mainBlack);
    background-color: rgb(236, 204, 204);
    margin-top: 2rem;
    border-radius: 0.5rem;
    color: #081B29;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3ms ease-in-out;
}

.let-talk {
    margin-left: 2.5rem;
}

.button-container button:hover {
    color: white;
    background-color: #081B29;
}


@media (min-width: 76.8rem) {
    .img-info img {
    width: 85%;
    
}
}



/*
==========================
About
==========================
*/
.about {
    padding: 8rem 0;
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}
.about-col-2 {
    flex-basis: 60%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 1.3rem;
}
.maim-title {
    font-size: 7rem;

}
.sub-titles {
    display: flex;
    margin: 2rem 0 4rem;
}


.titles {
    margin-right: 5rem;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    display:block;
}
.titles:hover {
    text-decoration: underline;
    color: rgb(236, 204, 204);
}
.titles.active-title:hover {
    font-weight: bold;

}

.contents ul li {
    list-style: none;
    margin: 1rem 0 ;
}

.contents ul li span {
    color: rgb(236, 204, 204);
    font-size: 1.4rem;
}

/* Hide all contents by default */
.contents {
    display: none;
}

/* Show active content */
.contents.active {
    display: block;
}

/*==============
Project
================
*/
.projects {
    padding: 3rem 0;
}

.my-project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
   
    margin: 1.5rem;
    
}

h1.header {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}
.project-list {
    position: relative;
}

.project-list img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 1rem;
    display: block;
    overflow: hidden;
    transition: transform 0.5s;
    
}
.layer {
    width: 100%;
    height: 0;  /* hides gradient on hover */
    background: linear-gradient(rgba(8, 27, 41, 0.5), rgb(236, 204, 204));
    border-radius: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 0 4rem;
    text-align: center;
    font-size: 1.2rem;
    transition: height 0.5s;
}

.project-list:hover .layer {
  height: 100%; /* Show gradient on hover */
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 1.3rem;
}

.layer a {
    margin-top:0.3rem;
    color: rgba(8, 27, 41, 0.5);
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 6rem;
    background: #fff;
    width: 6rem;
    height: 6rem;
    border-radius:3rem ;
    text-align: center;
}

a {
    margin: 2rem; 
  }
.project-list img:hover {
    transform: scale(1.2);
}
.btn {
    display: block;
    margin: 3rem auto;
    width: fit-content;
    border: 0.1rem solid rgb(236, 204, 204);
    padding: 1.2rem 2.4rem;
    border-radius: 0.6rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover {
    border: 0.1rem solid rgba(8, 27, 41, 1);
    background-color: rgb(236, 204, 204);
    padding: 1.4rem 3rem;
    border-radius: 0.6rem;
    color: rgba(8, 27, 41, 1);
}


@media (max-width: 76.8rem) {
 .layer h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
 .layer p {
    font-size: 0.8rem;
    line-height: 1.5;
  }
  .layer a {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    width: 3rem;
    height: 3rem;
    border-radius:1.5rem ;
    font-size: 1.5rem;
  }
  a {
    margin: 1rem; 
   padding: 0.6rem;
    
  }
}
